*{
    padding:0px;
    margin:0px;
    font-family: sans-serif;
}

.body{
    background-image: url('./Background/emile-perron-xrVDYZRGdw4-unsplash.jpg');   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header{
    padding: 25px;
    background: #D4E2D4;
}

.header a{
    text-decoration: none;
    margin-left: 8%;
    padding: 5px 10px;
    background: #A4D0A4;
    color: black;
    border-radius: 15px;
    font-size:large;
}

.header a:hover{
    padding: 8px 13px;
    background: #35A29F;
    color: white;
    border-radius: 15px;
}

.body .center{
    text-align: center;
    padding: 60px;
    letter-spacing: 3px;
    background-color: #3eb9b560;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 50px;
    line-height: 50px;
}

.body .center:hover{
    padding:80px;
    background-color: #2c8a8769;
    font-size: 28px;
}

#skill, #certification{
    background-color: #d5ffe46e;
    width: 40%;
    padding: 30px;
    margin-top: 50px;
    border-radius:80px;
    margin-left: 10px;
    display: inline-block;
}

#skill:hover, #certification:hover{
    background-color: #9058cfde;
    padding: 70px;
    font-size: large;
}

#skill h2{
    margin-left: 40%;
    margin-bottom: 20px;
    font-size: 30px;
    padding-bottom: 50px;
    text-decoration: underline;
}

#certification h3{
    margin-left: 20%;
    margin-bottom: 20px;
    padding-bottom: 50px;
    text-decoration: underline;
    font-size: 30px;
}

#skill ol, #skill ol ul, #certification ol, #certification ol ul{
    padding-left: 50px;
    font-size: larger;
}

.course, .training, .certificates{
    padding-bottom: 30px;
}

.certificates{
    padding-top: 20px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    background-color: rgb(7, 38, 63);
    padding: 10px;
    border-radius: 15px;
    color:white;
}

.footer{
    background-color: #a6afa6;
    padding: 10px;
    text-align: center;
}

